/* hero background image */
body{
    background-color: #071952;
}
.bgimage {
    height:100vh;
    background: url('mypic.jpeg');
    background-size:cover;
    position:relative;
}
.text-center {
    color:#088395;
}

.text-center:hover {
    color:#088395;
    text-decoration:underline;
}
#about{
color: #EBF4F6;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    color: #EBF4F6;
    text-align: center;
}
.card-text{
    color: #EBF4F6;
}
.card:hover .servicesIcon {
    color: #37B7C3;
}
.servicesText:hover {
    border: 1px solid #EBF4F6;
}
.card-body{
    background-color: #088395;
}

/* Dark background color when scrolled */
.navbar.navbarDark {
    background-color: #37B7C3; /* Change this to your desired dark color */
}
/* social media icons styling */
.social-icons {
    font-size: 30px;
    cursor: pointer;
}


/* footer styling */
#footer {
    margin-top: 3rem;
    background-color: #37B7C3;
    text-align: center;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}
.nav-link{
    color: white;
}
/* .navbar-brand{
    color: white;
} */
.nav-link:hover{
    color: #f4f8f4;
    text-decoration: underline;
}
